.App {
  text-align: center;
 
}

h1{
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: rgb(100, 245, 255)
}
input{
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  background-color: rgb(0, 255, 213);
  font-size: 20px;
  font-family: 'Lobster', cursive;
}
